<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to our Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <div class="container" style="text-align: center">
        {'{% include "navbar.html" %}'}
        <h1>This is our official Website</h1>
        <p>Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
        <button>Contact Us</button>
    
        {% if isActive %}
        <!--accesing dynamic data-->
        <div>
            <h2>Todays date is {{date}}</h2>
        <h1>Name is {{name}}</h1>
        <hr>
        <h1>Student data</h1>
        <h2>Student name : {{'Student_data:Student_name'}}</h2>
        <h2>Student college : {{'Student_data:Student_college'}}</h2>
        <h2>Student city : {{'Student_data:Student_city'}}</h2>
        <hr>

        <h1>Favorite Programs</h1>

        {% for p in list_of_program %}

            <h3>{{ p }}</h3>

        {%  endfor %}
        </div>
        {% endif %}
        <div/>

        <script src="" async defer></script>
    </body>
</html>